* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: black;
}

header {
  background-color: lightslategray;
  color: white;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: pink;
  text-decoration: none;
}

section {
  padding: 2rem;
}

.project {
  background: lightseagreen;
  margin: 1rem 0;
  padding: 1rem;
  border-left: 5px solid black ;
}

footer {
  text-align: center;
  padding: 1rem;
  background: lightslategray;
  color: black;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
